@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 14px;
  background-color: #1A1B20;
}

body {
  margin: auto;
  width: 1440px;
}

.header {
  border-bottom: 1px solid #fff;
  max-width: 100%;
}
.header .header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 9.3rem 0 9.3rem;
}
.header .section__menu {
  display: flex;
  justify-content: space-between;
  width: 43rem;
  font-family: "Montserrat-Medium";
  list-style-type: none;
  color: #fff;
}
.header a {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.header a:hover {
  background-size: 100% 2px;
}

main {
  padding: 0 5rem;
  max-width: 100%;
}
main .main {
  margin: auto;
  display: flex;
  position: relative;
}
main .main .ofer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin: 8.6rem 0 0 0;
}
main .main h1 {
  font-family: "Montserrat-Medium";
  font-size: 3.9rem;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}
main .main p {
  font-family: "Montserrat-Regular";
  line-height: normal;
  color: #fff;
}
main .main .order {
  font-family: "Montserrat-Medium";
  font-size: 1.2rem;
  line-height: normal;
  height: 4.1rem;
  width: 19.1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
main .main .line__order {
  display: flex;
  flex-direction: column;
}
main .main .line {
  width: 1px;
  height: 15.625rem;
  background: #979797;
  align-self: center;
  margin: 2em 0 0 0;
}
main .main .stages {
  margin: 41rem 0 0 17rem;
  display: flex;
  flex-direction: column;
}
main .main .photo__stages {
  height: 38.36rem;
  width: 56.97rem;
  position: absolute;
  top: 3rem;
  left: 42rem;
  z-index: -2;
}
main .main .text__stages {
  display: flex;
  justify-content: space-around;
  align-self: center;
  height: 2.14rem;
  width: 37.92rem;
  margin: 0.6rem 0 0 0;
  align-items: center;
}
main .main .line__stages {
  width: 1px;
  height: 2.14rem;
  background: #979797;
  font-family: "Montserrat-Regular";
}
main .advantages {
  position: relative;
}
main .line__main {
  width: 42.7rem;
  height: 1px;
  background-color: #979797;
  position: absolute;
  left: 9.5rem;
}
main .line__main2 {
  width: 1px;
  height: 20px;
  background-color: #979797;
  position: absolute;
  left: 52.2rem;
}
main .advantages__material {
  display: flex;
  justify-content: end;
  position: relative;
}
main .image__adventages {
  top: 3rem;
  left: -5rem;
  position: absolute;
  z-index: -1;
}
main .text__adventages {
  color: #fff;
  margin: 3rem;
}
main h2 {
  font-family: "Montserrat-Medium";
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  margin: 1.5rem 0 1.5rem 0;
  padding: auto;
}
main h4 {
  font-family: "Montserrat-Medium";
  font-size: 1.2rem;
  margin: 1rem 0 1.5rem 0;
  color: #fff;
}
main P {
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  color: #fff;
}
main .adventages {
  color: #fff;
  display: inline-block;
  display: flex;
  justify-content: center;
  display: inline-block;
}
main li {
  font-family: "Montserrat-Regular";
  font-size: 1rem;
}
main .advantages__kompany {
  display: flex;
  justify-content: center;
  gap: 2.57rem;
  margin: 5.57rem;
}
main .adventages__123 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9375em 1.5625em;
  width: 28.9rem;
  border-radius: 5px;
  border: 1px solid #979797;
  gap: 1rem;
}
main h3 {
  font-family: "Montserrat-Medium";
  font-size: 1.6rem;
  color: #fff;
}
main li {
  list-style: circle;
  margin: 0 0 0 2rem;
}
main .swiper .swiper-slide img {
  border-radius: 10px;
}
main .produce {
  margin: 3em 0 0 0;
}
main .produce .line__main3 {
  height: 1px;
  background-color: #979797;
  margin-left: 15em;
  width: 71em;
}
main .produce .line__main4 {
  width: 1px;
  background-color: #979797;
  margin-left: 15rem;
  height: 3rem;
}
main .produce .directions {
  margin: 7em 0 0 0;
  display: grid;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  grid-template-columns: repeat(auto-fill, minmax(26.6em, 2fr));
}
main .produce .slogan__direction {
  grid-column: 2/4;
  position: relative;
}
main .produce .slogan__direction img {
  position: absolute;
  width: 30rem;
  top: -5em;
}
main .produce .slogan__direction-text {
  padding: 9.75rem 0 0 13.25rem;
  color: #fff;
}
main .produce button {
  color: #FFFFFF;
  margin-top: 1.5em;
  width: 27.5em;
  height: 4.875em;
  padding: 0.625em 0;
  border-radius: 8px;
  border: 1px solid #979797;
  background: #22242A;
  text-transform: uppercase;
}
main .decor {
  margin: 7em 0 5em 0;
}
main .decor .line__main5 {
  height: 2rem;
  width: 1px;
  margin: 0 0 0 63rem;
  background-color: #979797;
}
main .decor .line__main6 {
  width: 50rem;
  height: 1px;
  margin: 0 0 0 13rem;
  background-color: #979797;
}
main .decor .line__main7 {
  position: absolute;
  height: 2rem;
  width: 1px;
  margin: 0 0 0 13rem;
  background-color: #979797;
}
main .decor .decor__2 {
  display: flex;
  justify-content: start;
  position: relative;
}
main .decor .text__decor {
  margin: 3em 0 0 0;
}
main .decor img {
  position: absolute;
  left: 50rem;
}
main .decor p {
  margin: 3em 0 0 0;
}
main .decor button {
  color: #FFFFFF;
  margin-top: 1.5em;
  width: 27.5em;
  height: 4.875em;
  padding: 0.625em 0;
  border-radius: 8px;
  border: 1px solid #979797;
  background: #22242A;
  text-transform: uppercase;
}
main .works iframe {
  width: 100%;
}
main .works .works-examples {
  margin-top: 3rem;
}

footer {
  border-top: 1px solid hsl(0, 0%, 100%);
  padding: 3.75rem 5rem;
}
footer h4 {
  font-family: "Montserrat-Medium";
  font-size: 1.2rem;
  color: #fff;
}
footer P {
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  color: #fff;
}
footer li {
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  color: #fff;
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat-Regular";
}
footer .footer-section {
  display: flex;
  justify-content: space-between;
}
footer .information-column {
  display: flex;
  justify-content: space-between;
  gap: 15em;
}
footer .contacts {
  display: flex;
  flex-direction: column;
}
footer .contacts-text--list {
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}
footer .contacts-icons {
  padding-top: 4.375em;
  display: flex;
  gap: 1.875em;
}
footer .contacts-icons .contacts-icons--image {
  flex-shrink: 0;
}
footer .contacts-icons svg {
  width: 2.25em;
}
footer .contacts-icons svg:hover {
  fill: #ffeec3;
  transition: 0.2s;
}
footer .contacts-icons svg:hover #Vector {
  fill: #ffeec3;
  transition: 0.2s;
}
footer .catalog-text {
  display: flex;
  flex-direction: column;
}
footer .catalog-text--list {
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}
footer .catalog-text--list a {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  font-family: "Montserrat-Regular";
}
footer .catalog-text--list a:hover {
  background-size: 100% 2px;
}
footer .big-logo-img {
  flex-shrink: 0;
  width: 128px;
  height: 114px;
}
footer .tagline {
  padding-top: 4.375em;
}
footer .request-phone {
  padding-top: 1.25em;
}
footer .request-phone--button {
  display: flex;
  padding: 1.125em 4em 1.25em 4em;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #FFFFFF;
  color: #1A1B20;
  cursor: pointer;
}
footer .request-phone--button:hover {
  background: #FFEEC3;
  transition: 0.2s;
}

@media (min-width: 1440px) {
  main {
    width: 1440px;
    margin: auto;
  }
  header {
    width: 1440px;
    margin: auto;
  }
  footer {
    width: 1440px;
    margin: auto;
  }
}
@media (max-width: 1440px) {
  main {
    padding: 0 5rem;
  }
}/*# sourceMappingURL=style.css.map */