// Базовые цвета
$backgr: #1A1B20;
$border: #979797;
$light: #fff;

//Шрифты

//Montserrat
@font-face {
    font-family: "Montserrat-Medium";
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html{
    font-size: 14px;
    background-color: #1A1B20;
}

body{
    margin: auto;
    width: 1440px;
}

.header{
    border-bottom: 1px solid #fff;
    max-width: 100%;

    .header__section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 9.3rem 0 9.3rem;
    }

    .section__menu{
        display: flex;
        justify-content: space-between;
        width: 43rem;
        font-family: 'Montserrat-Medium';
        list-style-type: none;
        color: #fff;
    }
    a{
        text-decoration: none;
        color: #fff;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s;
    }  

    a:hover {
        background-size: 100% 2px;
    }

    .menu {
        display: none;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
    .burger {
        position: relative;
        z-index: 2;
        cursor: pointer;
        display: block;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }
    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #ffffff;
    }
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #ffffff;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 #ffffff00;
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    .menu-list {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: #1a1b2053;
        backdrop-filter: blur(10px); /* эффект размытия */
        -webkit-backdrop-filter: blur(10px); /* для поддержки Safari */
        list-style-type: none;
        transform: translateY(-100%);
        width: 102rem;
        z-index: 1;
        opacity: 1;
        transition: .8s;
    }
    .menu-item {
        display: block;
        padding: 0.5rem;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
    }
    .menu-item:hover {
        background: #1A1B20;
    }
      .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
    }
}

main{
    padding: 0 5rem;
    max-width: 100%;

    .main{
        margin: auto;
        display: flex;
        position: relative;


        .ofer{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;
            margin: 8.6rem 0 0 0 ;
        }

        h1{
            font-family: 'Montserrat-Medium';
            font-size: 3.9rem;
            line-height: normal;
            text-transform: uppercase;
            color: #fff;
        }
        
        p{
            font-family: 'Montserrat-Regular';
            line-height: normal;
            color: #fff;
        }
        
        .order{
            font-family: 'Montserrat-Medium';
            font-size: 1.2rem;
            line-height: normal;
            height: 4.1rem;
            width: 19.1rem;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .line__order{
            display: flex;
            flex-direction: column;
        }
        .line{
            width: 1px;
            height: 15.625rem;
            background: #979797;
            align-self: center;
            margin: 2em 0 0 0;
        }

        .stages{
            margin: 41rem 0 0 17rem;
            display: flex;
            flex-direction: column;

        }

        .photo__stages{
            height: 38.36rem;
            width: 56.97rem;
            position: absolute;
            top: 3rem;
            left: 42rem;
            z-index: -2;
        }

        .text__stages{
            display: flex;
            justify-content: space-around;
            align-self: center;
            height: 2.14rem;
            width: 37.92rem;
            margin: 0.6rem 0 0 0;
            align-items: center;
        }
        
        .line__stages{
            width: 1px;
            height: 2.14rem;
            background: #979797;
            font-family: 'Montserrat-Regular';
        }
    }

   .advantages{
        position: relative;
   }
    
   .line__main{
        width: 42.7rem;
        height: 1px;
        background-color: #979797;
        position: absolute;
        left: 9.5rem;
    }

    .line__main2{
        width: 1px;
        height: 20px;
        background-color: #979797;
        position: absolute;
        left: 52.2rem;
    }
    
    

    .advantages__material{
        display: flex;
        justify-content: end;
        position: relative;
    }

    .image__adventages{
        top: 3rem;
        left: -5rem;
        position: absolute;
        z-index: -1;

    }

    .text__adventages{
        color: #fff;
        margin: 3rem;
    }

    h2{
        font-family: 'Montserrat-Medium';
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
        margin: 1.5rem 0 1.5rem 0;  
        padding: auto;

    }

    h4{
        font-family: 'Montserrat-Medium';
        font-size: 1.2rem;
        margin: 1rem 0 1.5rem 0;
        color: #fff;  
    }

    P{
        font-family: 'Montserrat-Regular';
        font-size: 1rem;
        // margin: -0.75rem 0 1.5rem 0;
        color: #fff; 
    }

    .adventages{
        color: #fff;
        display: inline-block;
        display: flex;
        justify-content: center;
        display: inline-block;
    }
    
    li{
        font-family: 'Montserrat-Regular';
        font-size: 1rem;
    }
    
    .advantages__kompany{
        display: flex;
        justify-content: center;
        gap: 2.57rem;
        margin: 5.57rem;
    }

    .adventages__123{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.9375em 1.5625em;
        width: 28.9rem;
        border-radius: 5px;
        border: 1px solid #979797;
        gap:1rem;
    }

    h3{
        font-family: 'Montserrat-Medium';
        font-size: 1.6rem;
        color: #fff;
    }

    li{
        list-style: circle;
        margin: 0 0 0 2rem;
    }

    .swiper .swiper-slide img{
        border-radius: 10px;
    }

    .produce{
        margin: 3em 0 0 0;

        .line__main3{
            height: 1px;
            background-color: #979797;
            margin-left: 15em;
            width: 71em;
        }

        .line__main4{
            width: 1px;
            background-color: #979797;
            margin-left: 15rem;
            height: 3rem;
        }

        .directions{
            margin: 7em 0 0 0;
            display: grid;
            grid-column-gap: 3em;
            grid-row-gap: 3em;
            grid-template-columns: repeat(auto-fill, minmax(26.6em, 2fr));
        }

        .slogan__direction{
            grid-column: 2/4;
            position: relative;
        }

        .slogan__direction img{
            position: absolute;
            width: 30rem;
            top: -5em;
            
        }

        .slogan__direction-text{
            padding: 9.75rem 0 0 13.25rem;
            color: #fff;
        }

        button{
            color: #FFFFFF;
            margin-top: 1.5em;
            width:  27.5em;
            height: 4.875em;
            padding: 0.625em 0;
            border-radius: 8px;
            border: 1px solid #979797;
            background: #22242A;
            text-transform: uppercase;
        }

    }

    .decor{
        margin: 7em 0 5em 0;

        .line__main5{
            height: 2rem;
            width: 1px;
            margin: 0 0 0 63rem;
            background-color: #979797;
        }

        .line__main6{
            width: 50rem;
            height: 1px;
            margin: 0 0 0 13rem;
            background-color: #979797;
        }

        .line__main7{
            position: absolute;
            height: 2rem;
            width: 1px;
            margin: 0 0 0 13rem;
            background-color: #979797;
        }

        .decor__2{
            display: flex;
            justify-content: start;
            position: relative;
        }

        .text__decor{
            margin: 3em 0 0 0;
        }

        img{
            position: absolute;
            left: 50rem;            
        }

        p{
            margin: 3em 0 0 0;
        }

        button{
            color: #FFFFFF;
            margin-top: 1.5em;
            width:  27.5em;
            height: 4.875em;
            padding: 0.625em 0;
            border-radius: 8px;
            border: 1px solid #979797;
            background: #22242A;
            text-transform: uppercase;
        }
    }

    .works{

        iframe{
            width: 100%;
        }

        .works-examples{
            margin-top: 3rem;
        }
    }
}  

footer {
    border-top: 1px solid hsl(0, 0%, 100%);
    padding: 3.75rem 5rem;

    h4{
        font-family: 'Montserrat-Medium';
        font-size: 1.2rem;
        color: #fff;  
    }

    P{
        font-family: 'Montserrat-Regular';
        font-size: 1rem;
        color: #fff; 
    }

    li{
        font-family: 'Montserrat-Regular';
        font-size: 1rem;
        color: #fff;
        list-style-type: none;
    }

    a{
        text-decoration: none;
        color: #fff;
        font-family: 'Montserrat-Regular';
    }


    .footer-section {
        display: flex;
        justify-content: space-between;
    }
    
        .information-column {
        display: flex;
        justify-content: space-between;
        gap: 15em;
    }

    .contacts {
        display: flex;
        flex-direction: column;
    }


    .contacts-text--list {
        padding-top: 2.5em;
        display: flex;
        flex-direction: column;
        gap: 0.625em;
    }

    .contacts-icons {
        padding-top: 4.375em;
        display: flex;
        gap: 1.875em;

        .contacts-icons--image {
            flex-shrink: 0;
        }

        svg {
            width: 2.25em;
        }

        svg:hover {
            fill: #ffeec3;
            transition: 0.2s;

            #Vector {
                fill: #ffeec3;
                transition: 0.2s;
            }
        }
    }

    .catalog-text {
        display: flex;
        flex-direction: column;
    }

    .catalog-text--list {
        padding-top: 2.5em;
        display: flex;
        flex-direction: column;
        gap: 0.625em;

        a{
            text-decoration: none;
            color: #fff;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 0.3s;
            font-family: 'Montserrat-Regular';
        }
        
        a:hover {
            background-size: 100% 2px;
        }
    }

    .big-logo-img {
        flex-shrink: 0;
        width: 128px;
        height: 114px;
    }

    .tagline {
        padding-top: 4.375em;
    }

    .request-phone {
        padding-top: 1.25em;
    }

    .request-phone--button {
        display: flex;
        padding: 1.125em 4em 1.25em 4em;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: #FFFFFF;
        color: #1A1B20;
        cursor: pointer;
    }

    .request-phone--button:hover {
        background:  #FFEEC3;
        transition: 0.2s;
    }
}

@media(min-width:1440px){
    main {
        width: 1440px;
        margin: auto;
    }

    header {
        width: 1440px;
        margin: auto;
    }

    footer {
        width: 1440px;
        margin: auto;
    }

}

@media(max-width:1440px){
    main {
        padding: 0 5rem;
    }
}


@media (max-width: 425px){
    .header {
        
        .section__menu {
            display: none;
        }

        .menu {
            display: block;
        }
    }
}

@media (max-width: 425px) {
    main {
        .main{
            h1{
                font-size: 2rem;
            }
        }



    }

    
}