// Базовые цвета
$backgr: #1A1B20;
$border: #979797;
$light: #fff;

//Шрифты

//Montserrat
@font-face {
    font-family: "Montserrat-Medium";
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html{
    font-size: 14px;
    background-color: #1A1B20;
}

body{
    margin: auto;
    width: 1440px;
}

.header{
    width: 102.8rem;
    margin: auto;

    .header__section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 9.3rem 0 9.3rem;
    }

    .section__menu{
        display: flex;
        justify-content: space-between;
        width: 43rem;
        font-family: 'Montserrat-Medium';
        list-style-type: none;
        color: #fff;
    }
    a{
        text-decoration: none;
        color: #fff;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s;
    }   
    a:hover {
            background-size: 100% 2px;
    }
    
    .line__header{
        width: 100%;
        text-align: center;
    }
}

main{

    .main{
        width: 102.8rem;
        margin: auto;
        display: flex;

        .ofer{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;
            margin: 8.6rem 9.3rem 0 9.3rem;
        }

        h1{
            font-family: 'Montserrat-Medium';
            font-size: 3.9rem;
            line-height: normal;
            text-transform: uppercase;
            color: #fff;
        }
        
        p{
            font-family: 'Montserrat-Regular';
            line-height: normal;
            color: #fff;
        }
        
        .order{
            font-family: 'Montserrat-Medium';
            font-size: 1.2rem;
            line-height: normal;
            height: 4.1rem;
            width: 19.1rem;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .line__order{
            display: flex;
            flex-direction: column;
        }
        .line{
            width: 1px;
            height: 15.625rem;
            background: #979797;
            align-self: center;
        }

        .stages{
            margin: 3rem 0 0 0;
            display: flex;
            flex-direction: column;
        }

        .photo__stages{
            height: 38.36rem;
            width: 56.97rem;
            // position: absolute;
        }

        .text__stages{
            display: flex;
            justify-content: space-around;
            align-self: center;
            height: 2.14rem;
            width: 37.92rem;
            margin: 0.6rem 0 0 0;
            align-items: center;
        }
        
        .line__stages{
            width: 1px;
            height: 2.14rem;
            background: #979797;
            font-family: 'Montserrat-Regular';
        }
    }

   .advantages{
        position: relative;
   }
    
   .line__main{
        width: 42.7rem;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 35.2rem;
    }

    .line__main2{
        width: 1px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        left: 77.8rem;
    }
    
    

    .advantages__material{
        display: flex;
        justify-content: center;
    }

    .image__adventages{
        margin: 3.64rem 0 0 0;
    }

    .text__adventages{
        color: #fff;
        margin: 3rem;
    }

    h2{
        font-family: 'Montserrat-Medium';
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
        margin: 1.5rem 0 1.5rem 0;  
        padding: auto;

    }

    h4{
        font-family: 'Montserrat-Medium';
        font-size: 1.2rem;
        margin: 1rem 0 1.5rem 0;
        color: #fff;  
    }

    P{
        font-family: 'Montserrat-Regular';
        font-size: 1rem;
        // margin: -0.75rem 0 1.5rem 0;
        color: #fff; 
    }

    .adventages{
        color: #fff;
        display: inline-block;
        display: flex;
        justify-content: center;
        display: inline-block;
    }
    
    li{
        font-family: 'Montserrat-Regular';
        font-size: 1rem;
    }
    
    .advantages__kompany{
        display: flex;
        justify-content: center;
        gap: 2.57rem;
        margin: 5.57rem;
    }

    .adventages__123{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.9375em 1.5625em;
        width: 20rem;
        border-radius: 5px;
        border: 1px solid #979797;
        gap:1rem;
    }

    h3{
        font-family: 'Montserrat-Medium';
        font-size: 1.6rem;
        color: #fff;
    }

    li{
        list-style: circle;
        margin: 0 0 0 2rem;
    }

    .swiper-slide img{
        border-radius: 10px;
    }

    .produce{
        margin: 10em 0 0 0;
    
        .directions{
            margin: 10em 0 0 0;
            display: grid;
            grid-template-rows: 26.2em 26.2em 26.2em;
            grid-template-columns:  26.2em 26.2em 26.2em;
            grid-gap: 2vw;
            justify-content: center;
        }

        .slogan__direction{
            grid-column: 2/4;
            position: relative;
        }

        .slogan__direction img{
            position: absolute;
            width: 30rem;
            top: -5em;
            
        }

        .slogan__direction-text{
            padding: 9.75rem 0 0 13.25rem;
            color: #fff;
        }

        button{
            color: #FFFFFF;
            margin-top: 1.5em;
            width:  27.5em;
            height: 4.875em;
            padding: 0.625em 0;
            border-radius: 8px;
            border: 1px solid #979797;
            background: #22242A;
            text-transform: uppercase;
        }

    }

    .decor{
        margin: 10em 0 5em 0;

        .decor__2{
            display: flex;
            justify-content: center;
        }

        .text__decor{
            margin: 3em 0 0 0;
        }
        p{
            margin: 3em 0 0 0;
        }

        button{
            color: #FFFFFF;
            margin-top: 1.5em;
            width:  27.5em;
            height: 4.875em;
            padding: 0.625em 0;
            border-radius: 8px;
            border: 1px solid #979797;
            background: #22242A;
            text-transform: uppercase;
        }

    }

    

}   